html, body, h1, h2, h3, h4, h5, h6, p {
margin: 0;
padding: 0;
}

html, body {
height: 100%;
}

body {
background: url("assets/black-space.jpg");
display: flex;
flex-direction: column;
font-family: "Rajdhani";
}

.page-header {
  display: flex;
  flex: 1;
  color: #ffffff;
  height: 25vh;
  width: 100%;
}

nav {
  display: flex;
  margin-left: 2%;
  height: 100%;
  width: 75%;
}

.home-btn,
.missions-btn,
.alien-btn {
  display: flex;
  background: black;
  border: 2px solid black;
  border-radius: 10px;
  color: #C0C0C0;
  font: 3vh "Rajdhani";
  margin-top: 16%;
  padding-bottom: 1%;
  height: 15%;
  width: 250px;
}

.home-btn:hover,
.missions-btn:hover,
.alien-btn:hover {
  transform: skewX(-15deg);
}

.home-btn {
  width: 290px;
}

.alien-btn {
  width: 180px;
}

#mission-icon,
#alien-icon,
#flag-icon {
  margin-right: 2%;
  height: 3vh;
  width: 3vh;
}

.account-logo {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 1%;
  height: 100%;
  width: 25%;
}

#astronaut-icon {
  margin-right: 1%;
  height: 50%;
  width: 12%;
}

.account {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.menu-btn {
  background: black;
  border: none;
  margin-bottom: 5%;
  width: 8%;
}

.menu-btn:hover {
  background-color: #808069;
  border-radius: 50%;
}

#menu-icon {
  height: 100%;
  width: 100%;
}

#nasa-logo {
  background-color: black;
  margin-left: 63%;
  margin-right: 5%;
  height: 120px;
  width: 120px;
}

main {
  height: 70%;
  width: 100%;
}

.section-header-line {
  display: flex;
  margin: 1% 1%;
  height: 10%;
  width: 100%;
}

#arrow-icon {
  height: 80%;
  width: 10%;
}

.section-header {
  color: #ffffff;
  /* margin-left: 3%;
  margin-top: 5%; */
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  height: 75%;
  width: 100%;
}

.individual-card {
  background: #121212;
  border: 1px solid darkgrey;
  border-radius: 20px;
  box-shadow: 0 0 10px #9ecaed;
  font-family: "Rajdhani";
  height: 450px;
  width: 275px;
  margin: 30px;
}

.card-top {
  height: 200px;
  width: 100%;
  position: relative;
}

.overlay {
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
  position: absolute;
  top: 16px;
  width: 90%;
}

.play-button {
  background: none;
  border: .5px solid #808069;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  height: 60px;
  width: 60px;
}

.play-button:hover {
  background-color: #808069;
  color: #ffffff;
  transition: background-color 1200ms;
}

.views {
  margin-top: 10px;
}

.views-header{
  margin-left: 8%;
}

#play-icon {
  background: none;
  width: 90%;
  height: 70%;
}

#card-image {
  border-radius: 20px 20px 0px 0px;
  opacity: 0.7;
  height: 200px;
  width: 100%;
}

.card-bottom {
  color: #f2f2f2;
  padding: 5px;
}

.mission-header {
  margin-left: 10px;
  margin-top: 10px;
  color: #f2f2f2;
}

.blurb-box {
  background: #121212;
  border: 1px inset;
  border-radius: 10px;
  color: #f2f2f2;
  font-size: 14px;
  text-align: center;
  margin: 5px auto;
  padding: 6px;
  width: 80%;
}

.blurb-box,
.cmd-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cmd-box {
  margin-left: 10px;
}

.command,
.days-header {
  font-size: 14px;
  margin-top: 10px;
}

.cmd-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.day-count,
.view-count {
  font-size: 30px;
}
